body {
  background-image: url('https://cdn.govexec.com/media/featured/cisco_webcast_back.png');
  font-family: Segoe UI;
}

h1 {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 0px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 0px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  background-color: #8fe376;
  padding: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
  width: 500px;
  text-align: center;
}

a:hover {
  background-color: #a9a9a9;
  color: white;
}

a:visited {
  color: black;
}

.weekly-links a:active {
  background-color: #606060;
}

#weekly-links {
  text-align: center;
  margin-top: 100px;
}

#complete-by-monday {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 100px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
  position: sticky;
  bottom: 0;
  width: 100%;
  font-size: 12px;
}
